.cardParent {
  height: 400px;
  width: 21%;
  /* background-color: teal; */
  margin: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  transition: 0.3s;
}

.cardParent:hover {
  border-color: black;
  box-shadow: 3px 3px 10px rgb(150, 150, 150), -3px -3px 10px rgb(150, 150, 150);
}

.image {
  width: 100%;
  height: 70%;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.price {
  display: flex;
  justify-content: space-around;
  height: 20%;
}
.description {
  /* text-align: left; */
  padding: 30px 0 0 0;
}
